[submodule "SOGEEngine/3rdparty/spdlog/spdlog"]
	path = SOGEEngine/3rdparty/spdlog/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "SOGEEngine/3rdparty/DirectXTK/DirectXTK"]
	path = SOGEEngine/3rdparty/DirectXTK/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git
[submodule "SOGEEngine/3rdparty/EntityX/EntityX"]
	path = SOGEEngine/3rdparty/EntityX/EntityX
	url = https://github.com/alecthomas/entityx.git
